.Normal_text {font-family:'Open Sans';font-weight:normal;font-style:normal;font-size:13px;text-decoration:none;font-feature-settings:'calt' 0;text-transform: none;color:#000000;background-color:Transparent;letter-spacing:0em;}

/*
     FILE ARCHIVED ON 02:31:14 Mar 24, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 21:19:10 Dec 16, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 118.272
  exclusion.robots: 0.066
  exclusion.robots.policy: 0.057
  cdx.remote: 0.052
  esindex: 0.007
  LoadShardBlock: 55.455 (3)
  PetaboxLoader3.datanode: 100.893 (4)
  load_resource: 83.743
  PetaboxLoader3.resolve: 29.37
*/